.main-container {
    /* width: calc(90% - 200px); */
    /* margin-right: 200px; */
}

.about-img {
    position: absolute;
    max-height: 80vh;
    /* max-width: 70vw; */
    max-width: 50vw;
    bottom: 0;
    right: 0;
}

/* DESKTOP */
@media (min-width: 700px) {
    .about-img {
        right: 10vw;
    }
}