.main-container {
    width: calc(90% - 200px);
    margin-right: 200px;
}

.about-img {
    position: absolute;
    width: 200px;
    right: 0;
    bottom: 0;
    filter: grayscale(20%) brightness(70%);
}

/* DESKTOP */
@media (min-width: 700px) {
    .about-img {
        left: 70vw;
        /* width: 300px; */
    }
}