.intro {
    height: 100vh;
    background-color: #f5f6f7;
    background: url("../img/Cameron2.jpeg") no-repeat center center;
    background-attachment: fixed;
    background-size: cover;
}

/** MOBILE **/  
.intro::before {
    content: "";
    position: absolute;
    display: block;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(35,35,35,.4);
    z-index: 1;
}

.scrollDown {
    position: absolute;
    bottom: 2rem;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 3em;
    /* mix-blend-mode: difference; */
    fill: #bbb;
    border-radius: 50%;
    border: solid 2px #bbb;
    padding: 5px;

    -webkit-animation: scrollAnimation 2.5s infinite;
    animation: scrollAnimation 2.5s infinite;
    opacity: 0;
    animation-delay: 4s;
}

.title {
    color: #FFF;
    font-family: 'Krona One', sans-serif;
    font-family: 'Kameron', serif;
    font-size: 15vw;
    
    -webkit-animation: fadeLeft 2s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadeLeft 2s; /* Firefox < 16 */
        -ms-animation: fadeLeft 2s; /* Internet Explorer */
         -o-animation: fadeLeft 2s; /* Opera < 12.1 */
            animation: fadeLeft 2s;
    
    letter-spacing: 5vw;
    word-break: break-all;
    font-size: 12vw;
    padding: 0 5vw;
    width: 100%;
    mix-blend-mode: difference;
    font-weight: 700;
    position: absolute;
    text-align: center;
    z-index: 9;
    font-weight: bolder;
}

.title-1 { top: 0vh; }
.title-2 { bottom: 0vh; }
.title-1, .title-2 { display: none; }

.title-mobile {
    font-size: calc(6vw + 6rem);
    text-align: left;
}
.main {
    padding: 3vh 2vw;
}

.homeRow {
    margin-bottom: 80px;
    font-size: 1.1rem;
}

.contentA {
    width: max(50%, 400px);
    padding: 1rem;
}

.contentB {
    width: 300px;
    font-size: 1.1rem;
    padding: 1rem;
    margin-top: 30px;
}

.content--diag {
    color: #ddd;
    margin-top: 0;
    width: max(70%, 400px);
}

.img--hello {
    width: 250px;
}

.img--mini {
    width: 130px;
    margin: 20px 10px;
}

.diag-svg {
    margin: -2vw;
    /* position needs to be relative or absolute for z-index to work */
    position: absolute;
    top: 150px;
    z-index: -1;
}

.cloud-background {
    position: relative;
}

.cloud-background::after {
    content: '';
    position: absolute;
    top: 20px;
    left: 20px;
    height: 130%;
    width: 130%;
    background: url("/img/cloud.svg") no-repeat;
    background-size: 400px;
    background-position: 50% 40px;
    filter: blur(5px);
    z-index: -1;
}

.wordcloud {
    width: 20rem;
    height: 10rem;
    margin: 3rem;
    font-size: 1.3em;
}

.wordcloud span {
    color: var(--accent);
    position: absolute;
}

.wordcloud span:nth-child(1) {
    font-size: 1.4em;
    left: 1.5rem;
}
.wordcloud span:nth-child(2) {
    font-size: 0.8em;
    left: 10rem;
}
.wordcloud span:nth-child(3) {
    font-size: 1em;
    left: 13rem;
    top: 3rem;
}
.wordcloud span:nth-child(4) {
    font-size: 2em;
    left: 6rem;
    top: 3.5rem;
}
.wordcloud span:nth-child(5) {
    font-size: 0.8em;
    left: 0rem;
    top: 7rem;
}
.wordcloud span:nth-child(6) {
    font-size: 1.3em;
    left: 5rem;
    top: 10rem;
}
.wordcloud span:nth-child(7) {
    font-size: 1.5em;
    left: 11rem;
    top: 8rem;
}

.img_container {
    gap: 20px;
    flex-wrap: nowrap;
    justify-content: start;
}

.photography_img {
    height: 220px;
}

.h {
    font-weight: normal;
}

.footer {
    padding: 0 50px;
}

/* mobile */
@media (max-width: 700px) {
    .img--hello {
        width: 220px;
    }
    .content--diag {
        margin-top: -50px;
        font-size: 0.8em;
    }
    .img_container {
        gap: 0px;
    }
    .img--mini {
        width:100px;
    }
    .homeRow {
        margin-bottom: 50px;
    }
    .contentB {
        width: 400px;
        order: 2;
    }
}

/* desktop */
@media (min-width: 750px) {
    .img--hello {
        margin-top: 70px;
    }
}

/** DESKTOP **/
@media (min-width: 850px) {    
    .title {
        font-size: 12vw;
    }
    .title-mobile {
        display: none;
    }
    .title-1, .title-2 {
        display: block;
    }
    .intro::before {
        content: none;
    }
}

@-webkit-keyframes scrollAnimation {
    0% {
      opacity: 0;
    }
    30% {
      opacity: 1;
    }
    60% {
      box-shadow: 0 0 0 60px rgba(255,255,255,.1);
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }
  @keyframes scrollAnimation {
    0% {
      opacity: 0;
      transform: translateY(0);
    }
    30% {
      opacity: 1;
    }
    60% {
      opacity: 0;
      transform: translateY(10px);
    }
    100% {
      opacity: 0;
    }
  }