* {
    box-sizing: border-box;
}

body, html {
    margin: 0;
    padding: 0;
}

.section {
    position: relative;
    overflow: hidden;
    width: 100%;
}

.h {
    font-family: 'Montserrat', sans-serif;
    color: #555;
    margin: 0;
}

.button {
    text-decoration: none;
    cursor: pointer;
    
    background-color: #DDD;
    color: #444;
    
    padding: 1rem;
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
}

.intro {
    height: 100vh;
    background-color: #f5f6f7;
    background-attachment: fixed;
}

/** MOBILE **/
.intro::before {
    content: "";
    position: absolute;
    display: block;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    filter: blur(3px);
    background-color: rgba(35,35,35,.64);
    z-index: 1;
}

/** DESKTOP **/
@media only screen and (min-width: 850px) { /* maybe put below other css and remove !importants */
    .intro::before {
        content: none;
    }
    .title {
        color: #777 !important;
    }
    .type {
        color: #333 !important;
    }
    .intro__svg-path {
        stroke: #D50000 !important;
    }
    .intro .intro__img {
        width: 55vw;
        height: auto;
        max-height: 90vh;
    }
}

.intro__img {
    opacity: 0;
    height: 90vh;
    position: absolute;
    left: 3vw;
    bottom: -3vh;
    animation: fadeUp 2s 0.5s;
    animation-fill-mode: forwards;
}

.intro__svg {
    height: 100%;
    width: 100%;
    z-index: 1;
}

.intro__svg-path {
    stroke: transparent;
}

.intro__description {
    position: absolute;
    top: 27vh;
    right: 10vw;
    z-index: 1;
}

.title {
    color: #FFF;
    font-family: 'Krona One', sans-serif;
    font-size: 13vw;
    text-align: right;
}

.type {
    width: 100%;
    text-align: right;
    
    color: #DDD;
    font-size: 8vw;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-family: "Lucida Sans Typewriter", "Lucida Console", Monaco, "Bitstream Vera Sans Mono", monospace;
    font-family: "Krona One", sans-serif;
}

@media (min-width: 400px) {
    .title { font-size: calc(2rem + 4.7vw); }
    .type { font-size: calc(0.7rem + 4.7vw); }
}
@media (min-width: 850px) {
    .title { font-size: calc(2rem + 3vw); }
    .type { font-size: calc(0.7rem + 3vw); }
}

.about {
    height: 120vh;
    background-color: #FFF; /*#BDBDBD;*/
    text-align: center;
}

.about__b1 {
    width: 100%;
    height: 0vh;
    background-color: darkred;
}

.about__b2 {
    width: 100%;
    height: 70vh;
    background-image: -webkit-linear-gradient(top, darkred, #ffffff); /* For Chrome and Safari */
    background-image:    -moz-linear-gradient(top, darkred, #ffffff); /* For old Fx (3.6 to 15) */
    background-image:     -ms-linear-gradient(top, darkred, #ffffff); /* For pre-releases of IE 10*/
    background-image:      -o-linear-gradient(top, darkred, #ffffff); /* For old Opera (11.1 to 12.0) */
    background-image:         linear-gradient(to bottom, darkred, #ffffff); /* Standard syntax; must be last */
}

.about__col {
    height: 100%;
    width: 50%;
    float: left;
    text-align: center;
}

.about__img {
    position: relative;
    height: 80%;
    top: 10%;
    opacity: 0;
}

.fadeDown {
    animation: fadeDown 1s;
    animation-fill-mode: forwards;
}

@keyframes fadeLeft {
    from {
        opacity: 0;
        -webkit-transform: translateX(20px);
        -ms-transform: translateX(20px);
        transform: translateX(20px);
    }
    to {
        opacity: 1;
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }
}

@keyframes fadeUp {
    from {
        opacity: 0;
        -webkit-transform: translateY(20px);
        -ms-transform: translateY(20px);
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }
}

@keyframes fadeDown {
    from {
        opacity: 0;
        -webkit-transform: translateY(-20px);
        -ms-transform: translateY(-20px);
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }
}

.typed-cursor{
	opacity: 1;
	-webkit-animation: blink 0.7s infinite;
	-moz-animation: blink 0.7s infinite;
	animation: blink 0.7s infinite;
}
@keyframes blink{
	0% { opacity:1; }
	50% { opacity:0; }
	100% { opacity:1; }
}
@-webkit-keyframes blink{
	0% { opacity:1; }
	50% { opacity:0; }
	100% { opacity:1; }
}
@-moz-keyframes blink{
	0% { opacity:1; }
	50% { opacity:0; }
	100% { opacity:1; }
}