* {
    box-sizing: border-box;
}

body, html {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

.section {
    position: relative;
    overflow: hidden;
    width: 100%;
}

.h {
    font-family: 'Montserrat', sans-serif;
    color: #555;
    margin: 0;
}

.hide {
    display: none;
}

.btn {
    text-decoration: none;
    cursor: pointer;
    
    background-color: none;
    color: #555;
    border: solid #555;
    transition: all 0.3s ease 0s;
    
    padding: 1rem;
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
}

.btn:hover {
    background-color: #555;
    color: #FFF;
}

.link {
    text-decoration: none;
    cursor: pointer;
    /*font-weight: 400;*/
}

.link:hover {
    text-decoration: underline;
}

.p {
    line-height: 24px;
}

.nav {
    position: absolute;
    right: 3vw;
    top: 3vh;
    text-align: center;
    color: #DDD;
    font-weight: 600;
    font-size: 0.9rem;
}

.logo {
    /*width: 17vw;*/
    width: 170px;
}

.nav-link {
    text-decoration: none;
    color: #DDD;
    font-weight: 600;
    font-size: 0.9rem;
}

.nav-link:hover {
    color: #BBB;
}

/* fade */
@keyframes fade{from{opacity:0}to{opacity:1}}@-moz-keyframes fadein{from{opacity:0}to{opacity:1}}@-webkit-keyframes fadein{from{opacity:0}to{opacity:1}}@-ms-keyframes fadein{from{opacity:0}to{opacity:1}}@-o-keyframes fadein{from{opacity:0}to{opacity:1}}

/* fade left */
@keyframes fadeLeft{from{opacity:0;-webkit-transform:translateX(20px);-ms-transform:translateX(20px);transform:translateX(20px)}to{opacity:1;-webkit-transform:translateY(0);-ms-transform:translateY(0);transform:translateY(0)}}

/* fade up */
@keyframes fadeUp{from{opacity:0;-webkit-transform:translateY(15px);-ms-transform:translateY(15px);transform:translateY(15px)}to{opacity:1;-webkit-transform:translateY(0);-ms-transform:translateY(0);transform:translateY(0)}}

/* fade down */
@keyframes fadeDown{from{opacity:0;-webkit-transform:translateY(-20px);-ms-transform:translateY(-20px);transform:translateY(-20px)}to{opacity:1;-webkit-transform:translateY(0);-ms-transform:translateY(0);transform:translateY(0)}}

.fadeUp {
    animation: fadeUp 1s ease;
    animation-fill-mode: forwards;
}
.fadeDown {
    animation: fadeDown 1s ease;
    animation-fill-mode: forwards;
}