.widget--big {
    display: none;
}

.header--photos {
    position: fixed;
    top: 0;
    z-index: 1;
    background-color: #fff;
}

.photos-main {
    margin-top: 100px;
}


@media (min-width: 550px) {
    .widget--small {
        display: none;
    }
    
    .widget--big {
        display: block;
    }
}