.programs-header {
    height: 40vh;
    width: 100%;
    top: 0;
    position: relative;
    background-color: #8b0000; /*#00796B;*/
    box-shadow: 0px 4px 5px rgba(0,0,0,.4);
    
    background-image: url(../img/header.jpg);
}

.title--programs {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 4em;
    color: #FFF;
    margin: 0;
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 10vh;
}

.card {
    box-shadow: 0px 4px 5px rgba(0,0,0,.4);
    background-color: #FFF;
    position: relative;
    width: 60vw;
    height: 200px;
    left: 20vw;
    top: 50px;
}

.card__header {
    position: absolute;
    height: 120px;
    width: 100%;
    top: 0;
    background-color: #8b0000;
}